.root {
    -fx-background-color: #f4f4f4;
}

.text-field, .combo-box, .button {
    -fx-font-size: 14px;
    -fx-padding: 8px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

.button:hover {
    -fx-background-color: #45a049;
}
